.divNosotros{
    display: flex;
    height: 70vh;;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.parNosotros{
    max-width: 400px;
}

.divImgNosotros{
width: 300px;
}

.imgNosotros{
width: 100%;
border-radius: 20px;
} 