.countDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.countDiv button{
    width: 150px;
    border-radius: 10px;
    font-size: 2rem;
}

.countDiv span{
    flex: 0.2;
    font-size: 3rem;
    border: 2px solid green;
    border-radius: 10px;
    text-align: center;
}
