.countDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.buttonCount{
    width: 120px;
    border-radius: 10px;
    margin: 10px;
    font-size: 1.5rem;
}

.countDiv span{
    flex: 0.2;
    font-size: 2rem;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}
